# Sistema Operacional
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Logs e Temporários
*.log
*.tmp
*.bak
scratch/
